<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Saviors Inc. - Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
    </style>
  </head>

  <body>
    <nav class="navbar navbar-default nav-background">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="admin.html">

            <!-- 
                <img
              src=""
              alt="My logo"
              class="headerLogo"
            />
             -->


            <div style="font-size: 3rem">Saviors Inc.</div>
          </a>
        </div>
      </div>
    </nav>

    <div class="admin">
			<h1>Admin Hub</h1>
            <form action="/logout?_method=DELETE" method="post">
                Welcome Admin
                <button type="submit">Logout</button>
            </form>
		</div>

      <script>

            
          
      </script>

  </body>
</html>
