<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Saviors Inc. - Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
    </style>
  </head>

  <body>
    <nav class="navbar navbar-default nav-background">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/admin">
            <!-- 
                <img
              src=""
              alt="My logo"
              class="headerLogo"
            />
             -->
            <div style="font-size: 3rem">Saviors Inc.</div>
          </a>
        </div>
      </div>
    </nav>

    <div class="admin">
			<h1>Admin Hub</h1>
      <button id="addRes" type="button" onclick="addResFunction()">Add new rescuer</button>
      <button id="shStats" type="button" onclick="shStatsFunction()">Service Statistics</button>
      <button id="shStore" type="button" onclick="shStoreFunction()">Storage</button>
      <button id="mkAn" type="button" onclick="mkAnFunction()">Make an announcement</button>      
      <br>
      <button id="logout" type="button" href="/logout">Logout</button>
  
		</div>

      <script src="js/admin.js"></script>
      <noscript>Sorry, your browser does not support JavaScript!</noscript>

  </body>
</html>