<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Saviors Inc. - Citizen</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="homepage.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Include the Bootstrap JS dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Include the Bootstrap JS file -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="js/civilian.js" defer></script>
    <style>
    </style>
  </head>

  <body>

    <!-- Put logo above -->
    <ul>
      <li class="header">Civilian Hub</li>
      <li><a onclick="makeRequest()">Make a request</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
      <li>
        <form action="/logout?_method=DELETE" method="post">
          <button type="submit">Logout</button>
        </form>
      </li>
    </ul>
    
    <!-- Experiment with % vs vh -->
    <!-- This will be the canvas for everything -->
    <div class="canvas" id="canvas">
      <div id="makeRequest" class="hidden">
        <form>
          <!-- Item select -->
          <div id="table-select" class="table-select">
            <label for="categories">Choose a category:</label>
            <select id="categories">
            </select>

            <label for="items">Choose an item:</label>
            <select id="items">
            </select>

          </div>
          <!-- Load categories right after div loads -->
          <script src="js/civilian.js"></script>
          <script>
              show_categories();
          </script>
      
          <!-- People num input -->
          <div class="form-outline mb-4">
            <input type="number" id="people_num" class="form-control" />
            <label class="form-label" for="people_num">Number of people</label>
          </div>
    
          <!-- Submit button -->
          <button type="button" onclick="sendRequest()" class="btn btn-primary btn-block mb-4">Send request</button>
        
      </div>
    </div>


      <noscript>Sorry, your browser does not support JavaScript!</noscript>
  </body>
</html>