<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register | Saviors Inc.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"/>

    <!-- Include the Bootstrap JS dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Include the Bootstrap JS file -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
    <script src="js/register.js" defer></script>
    <style>
    </style>
  </head>

<body class="entry">
    <!-- Pills content -->
    <div class="logo">
        <img src="/img/logo-no-background.png" alt="SAVIORS Rescue Coordination logo">
    </div>

    <!-- REGISTER -->
    <div class="tab-pane" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
        <form>
          <!-- Username input -->
          <div class="form-outline mb-4">
            <input type="text" id="username" class="form-control" autofocus/>
            <label class="form-label" for="username">Username</label>
          </div>
    
          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="password" class="form-control" />
            <label class="form-label" for="password">Password</label>
          </div>
    
          <!-- Repeat Password input -->
          <!-- <div class="form-outline mb-4">
            <input type="password" id="registerRepeatPassword" class="form-control" />
            <label class="form-label" for="registerRepeatPassword">Repeat password</label>
          </div> -->

          <!-- Name input -->
          <div class="form-outline mb-4">
            <input type="text" id="name" class="form-control" />
            <label class="form-label" for="name">Full name</label>
          </div>

          <!-- Telephone input -->
          <div class="form-outline mb-4">
            <input type="text" id="telephone" class="form-control" />
            <label class="form-label" for="telephone">Telephone</label>
          </div>

          <!-- Location input -->
          <div id="mapid"></div>
          <!-- TODO: Add realtime updating coordinate text form -->
          <label class="form-label" for="mapid">Location</label>
    

          <div id="error-message"></div>

          <!-- Submit button -->
          <button type="button" onclick="register()" class="btn btn-primary btn-block mb-4">Sign up</button>
  
          <!-- Login buttons -->
          <div class="text-center">
            <p>Have an account? Go back to <a href="/">Login</a></p>
          </div>

          <script>
              function register() {
                //https://stackoverflow.com/questions/16036824/find-latitude-longitude-of-saved-marker-in-leaflet
                var username = document.getElementById('username').value;
                var password = document.getElementById('password').value;
                var name = document.getElementById('name').value;
                var type = 1;
                var telephone = document.getElementById('telephone').value;
                var coordinates = location_marker.getLatLng();
                console.log(coordinates);

                var errorMessageElement = document.getElementById('error-message');
                
                //TODO: Some info isnt required
                if (username && password && coordinates) {
                  var xhttp = new XMLHttpRequest();
                  xhttp.open('POST', '/register', true);
                  xhttp.setRequestHeader('Content-Type', 'application/json');
    
                  xhttp.onreadystatechange = function () {
                    if (xhttp.readyState === 4) {
                      if (xhttp.status === 401) {
                        // Handle incorrect username/password with AJAX
                        var response = JSON.parse(xhttp.responseText);
                        errorMessageElement.innerHTML = response.error;
                      } else if (xhttp.status === 200) {
                        // Redirect on successful login if needed
                        window.location.href = '/auth';
                      }
                    }
                  };

                  var data = JSON.stringify({ username: username, password: password,type:type, name: name, telephone: telephone, coordinates: coordinates });
                  xhttp.send(data);
                } else {
                  errorMessageElement.innerText = 'Invalid request, please check your input.';
                }
              }
          </script>
        </form>
      </div>

</body>
</html>
