<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rescuer | Saviors Inc.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="css/homepage.css" />
    
    <!-- For fonts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    
    <!-- After Leaflet script -->
    <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js"></script>

    <!-- Leaflet.markercluster CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

    
    <script src="js/rescuer.js"></script>
</head>

<body>

    <div id="grid-container">
        <div class="sidebar">
            <a class="header" onclick="myCargo(); toggleSidebar();" style="color:white;">
                <div class="logo">
                    <img src="/img/favicon.png" alt="SAVIORS Rescue Coordination logo">
                </div>
                <span id="username_placeholder" style="color:white;"></span> - Rescuer Hub
            </a>
            <!-- TODO: For some reason homepage.css isnt applying style to icons -->
            <div class="sidebar_button">
                <a href="javascript:void(0);" style="text-decoration: none;font-size:30px;" class="icon" onclick="toggleSidebar()">&#9776;</a>
            </div>
            <div class="sidebarOptions" id="mySidebar">
                <a onclick="myCargo(); toggleSidebar();">
                    <img class="sidebar-icon" title="cargo" src="img/sidebar/cargo.png" alt="truck icon" />My Cargo</a>
                <a onclick="mapTab(); toggleSidebar();"><img class="sidebar-icon" title="map" src="img/sidebar/map.png" alt="map icon" />Show Map</a>
                <form id="logoutForm" action="/logout?_method=DELETE" method="post">
                    <a onclick="logoutForm.submit()">
                        <img class="sidebar-icon" title="logout" src="img/sidebar/logout.png" alt="logout icon" />Logout</a>
                </form>
            </div>
        </div>

        <div class="canvas" id="canvas">
            <div id="cargo">
                <h3>Cargo on vehicle</h3>
                <table class="user_table" id="cargo-table"></table>
            </div>

            <div id="mapTab">
                <h3>Map</h3>
                <p class="error-message" id="map-task-info"></p>
                <div id="mapContainer">
                    <div id="mapid"></div>
                    <div id="cargo_actions" style="max-height:750px;overflow-y:auto;">
                        <p class="error-message" id="cargo_error" style="white-space:nowrap;margin:0;padding:0;"></p>
                        <div id="cargo_pick_up"></div>
                    </div>
                </div>

                <div id="tasks" style="text-align:left;">
                    <h3 id="task_header">Your tasks [<span id="task_counter"></span>/4]</h3>
                    <p class="error-message" id="task-info"></p>
                    <table class="user_table" id="user_tasks">
                </div>
            </div>
        </div>
    </div>

    <script defer>

        // TODO: Default, isnt being clicked
        

        // Dynamically set size of canvas to prevent overlap with sidebar
        // TODO: Sidebar has static size, but might change to scale with screen size
        // If so, make font scale with sidebar also
        /*
        document.addEventListener("DOMContentLoaded", function () {
          if (window.innerWidth > 300) {
            var sidebarWidth = document.getElementById("sidebar").offsetWidth;
            document.getElementById("canvas").style.marginLeft = sidebarWidth + "px";
          }
        });
        */
      
        function toggleSidebar() {
            var x = document.getElementById("mySidebar");
            x.classList.toggle("hidden");
        }

        myCargo();
       
    </script>
    <noscript>Sorry, your browser does not support JavaScript!</noscript>
</body>
</html>