<!DOCTYPE html>
<html lang="en">
<head>
    <title>Saviors Inc. - Citizen</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="homepage.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Include the Bootstrap JS dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Include the Bootstrap JS file -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="js/citizen.js" defer></script>
    <style>
    </style>
</head>

  <body>
      <nav class="navbar navbar-default nav-background">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="/rescuer">
                      <!--
                        <img
                      src=""
                      alt="My logo"
                      class="headerLogo"
                    />
                     -->
                      <div style="font-size: 3rem">Saviors Inc.</div>
                  </a>
              </div>
          </div>
      </nav>

      <div class="rescuer">
          <ul class="sidebar"> 
              <li class="header">Thank you for your Service!</li>
              <li><a onclick="myCargo()">My Cargo</a></li>
              <li><a onclick="load()">Pick up Supplies</a></li>
              <li><a onclick="drop()">Deliver Supplies</a></li>
              <li><a onclick="mngTasks()">Manage Tasks</a></li>
              <li><a onclick="shMap()">Show Map</a></li>
              <li>
                  <form action="/logout?_method=DELETE" method="post">
                      <button type="submit">Logout</button>
                  </form>
              </li>
          </ul>
      </div>


      <div class="fields" id="fields">
              <br>
              <div id="error-message"></div>  <!--Error message is displayed here -->

              <div id="procedures">
                  <!-- Load / Deliver prompts will be displayed here -->
              </div>
              <div id="cargo">
                  <!--My cargo is displayed here -->
              </div>
      </div>


      <script src="js/rescuer.js"></script>
      <noscript>Sorry, your browser does not support JavaScript!</noscript>



  </body>
</html>