<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rescuer | Saviors Inc.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="css/homepage.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <!-- Include the Bootstrap JS dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Include the Bootstrap JS file -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    
    <style>
    </style>
</head>

<body>

    <div id="grid-container">
    <div class="sidebar">
        <a class="header" onclick="" style="color:white;">
            <span id="username_placeholder" style="color:white;"></span> - Rescuer Hub</a>
        
        <a onclick="myCargo()">My Cargo</a>
        <a onclick="mapTab()">Show Map</a>
        <form id="logoutForm" action="/logout?_method=DELETE" method="post">
            <a onclick="logoutForm.submit()">Logout</a>
        </form>
    </div>

        <div class="canvas" id="canvas">
            <div id="cargo">
                <!--My cargo is displayed here -->
            </div>
            
            <div id="mapTab">
                <div id="mapContainer">
                    <div id="mapid"></div>
                    <div id="cargo_actions" style="height:750px;overflow-y:auto;">
                        <div id="cargo_pick_up"></div>
                    </div>
                </div>

                <div id="tasks" style="text-align:left;">
                    <h3 id="task_header"></h3>
                    <p id="task-info"></p>
                    <table class="user_table" id="user_table">
                </div>
            </div>
        </div>
    </div>

    <script>
        // Dynamically set size of canvas to prevent overlap with sidebar
        // TODO: Sidebar has static size, but might change to scale with screen size
        // If so, make font scale with sidebar also
        document.addEventListener("DOMContentLoaded", function () {
            if (window.innerWidth > 300) {
            var sidebarWidth = document.getElementById("sidebar").offsetWidth;
            document.getElementById("canvas").style.marginLeft = sidebarWidth + "px";
            }
        });
        
    </script>

    <script src="js/rescuer.js" defer></script>
    <noscript>Sorry, your browser does not support JavaScript!</noscript>



</body>
</html>