<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Saviors Inc.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Include the Bootstrap JS dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Include the Bootstrap JS file -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        // Activate Bootstrap tooltips
        $('[data-toggle="tooltip"]').tooltip();

        $('a[href="#register"]').click(function(){
          $('#pills-login').removeClass('show active');
          $('#pills-register').addClass('show active');
        });

        $('a[href="#login"]').click(function(){
          $('#pills-register').removeClass('show active');
          $('#pills-login').addClass('show active');
        });

        //TODO: When switching login/register, clear textboxes
        //TODO: When clicking sign in/up, trigger tooltips for each error
        //TODO: On successful register, go to login page

        // Handle form submission
        //$('#registerForm').submit(function(e){
        //  e.preventDefault(); // Prevent the form from submitting normally

          // Your registration logic goes here

          // Optionally, trigger an animation
          // Example: $('#pills-register').fadeOut(500);
        //});
      });
    </script>
    <style>
    </style>
  </head>

  <body>
  
  <!-- Pills content -->
  <div class="logo">
    <img src="/logo-no-background.png" alt="SAVIORS Rescue Coordination logo">
  </div>
  <div class="tab-content">

    <!-- LOGIN -->
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      <form action="/" method="post">
        <!-- Username input -->
        <div class="form-outline mb-4">
          <input type="username" id="username" class="form-control" />
          <label class="form-label" for="username">Username</label>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="password" class="form-control" />
          <label class="form-label" for="password">Password</label>
        </div>
  
        <!-- Submit button -->
        <button type="submit" onclick="login()" class="btn btn-primary btn-block mb-4">Log in</button>
  
        <!-- Register buttons -->
        <div class="text-center">
          <p>Don't have an account? <a href="#register">Register</a></p>
        </div>

        <div id="error-message"></div>

        <script>
          function login() {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            var errorMessageElement = document.getElementById('error-message');

            var xhttp = new XMLHttpRequest();
            xhttp.open('POST', '/', true);
            xhttp.setRequestHeader('Content-Type', 'application/json');

            xhttp.onreadystatechange = function () {
              if (xhttp.readyState === 4) {
                if (xhttp.status === 401) {
                  // Handle incorrect username/password with AJAX
                  var response = JSON.parse(xhttp.responseText);
                  errorMessageElement.innerHTML = response.error;
                } else if (xhttp.status === 200) {
                  // Redirect on successful login if needed
                  window.location.href = '/auth';
                }
              }
            };

            var data = JSON.stringify({ username: username, password: password });
            xhttp.send(data);
          }          
        </script>
      </form>
    </div>

    <!-- REGISTER -->
    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
      <form>
        <!-- Username input -->
        <div class="form-outline mb-4">
          <input type="text" id="registerUsername" class="form-control" />
          <label class="form-label" for="registerUsername">Username</label>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerPassword" class="form-control" />
          <label class="form-label" for="registerPassword">Password</label>
        </div>
  
        <!-- Repeat Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="registerRepeatPassword" class="form-control" />
          <label class="form-label" for="registerRepeatPassword">Repeat password</label>
        </div>
  
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

        <!-- Login buttons -->
        <div class="text-center">
          <p>Have an account? Go back to <a href="#login">Login</a></p>
        </div>

        <div id="error-message"></div>

        <script>
            function register() {
              var username = document.getElementById('username').value;
              var password = document.getElementById('password').value;
              var errorMessageElement = document.getElementById('error-message');

              var xhttp = new XMLHttpRequest();
              xhttp.open('POST', '/register', true);
              xhttp.setRequestHeader('Content-Type', 'application/json');

              xhttp.onreadystatechange = function () {
                if (xhttp.readyState === 4) {
                  if (xhttp.status === 401) {
                    // Handle incorrect username/password with AJAX
                    var response = JSON.parse(xhttp.responseText);
                    errorMessageElement.innerHTML = response.error;
                  } else if (xhttp.status === 200) {
                    // Redirect on successful login if needed
                    window.location.href = '/auth';
                  }
                }
              };

              var data = JSON.stringify({ username: username, password: password });
              xhttp.send(data);
            }
        </script>
      </form>
    </div>
  </div>
  <!-- Pills content -->

</body>
</html>
