


.gray-background {
    background-color: #f2f2f2; /* Light gray background color */
}


#storageCategories {
    width: 13%;
    height: 60%;
    display: block;
    position: fixed;
    margin-left: 16%;
    
    bottom: 10%; /* Set the minimum distance from the bottom */
    z-index: 999;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
    #storageCategories input[type="checkbox"] {
        transform: scale(2); /* Adjust the scale factor as needed */
       
        margin-right:8px;
        margin-top:10px;
    }



#storage {
    display: flex;
    margin-left: 30%; /* Set the distance from the left */
}



#buttons2 button {
    display: inline-flex;
    flex-direction: column;
    flex-basis: 20%;
    flex-shrink: 0;
    background-color: #4CAF50;
    padding: 5px;
    margin: 10px;
    min-width: 150px;
    height: 70px; /* Set a fixed height for the buttons */
}
    #buttons2 button:hover {
        background-color: #808080; /* Darker background color on hover */
    }



#buttons2 {
    display: flex;
    flex-direction: row; /* Display the buttons in a row */
    flex-wrap: wrap; /* Allow wrapping to the next row */
    width: 500px; /* Adjust the width as needed */
    margin-top: 10px;
    margin-left:43%; /* Set the distance from the left */
    padding-bottom: 50px;
}

    #buttons2 label {
        background-color: #4CAF50;
        color: white; /* Set the text color for better visibility, adjust as needed */
        margin-bottom: 5px;
        padding: 5px;
        margin-left: 3%;
        border: 1px solid black; /* Add a thin black border */
        height: 40px;
    }

    #buttons2 input[type="file"] {
        display: inline-flex;
        flex-direction: row; /* Display the buttons in a row */
        padding: 5px;
        width: 100%;
        margin-left: 10px;
    }



#jsonFileInput {
    width: 505px;
    margin-top: 5px;
}

#buttons3 {
    display: flex;
    flex-direction: row; /* Display the buttons in a row */
    flex-wrap: wrap; /* Allow wrapping to the next row */
    width: 35%; /* Adjust the width as needed */
    margin-top: 10px;
    margin-left: 35%; /* Set the distance from the left */
    padding-bottom: 50px;
}


#inputFieldsDiv {
    display: fixed;
    align-items: center;
    flex-direction: column; /* Display checkboxes in a column */
    width: 35%; /* Adjust the width as needed */
    margin-left: 35% /* Set the distance from the left */
}

#inputFieldsDiv2 {
    display: flex;
    align-items: center;
    flex-direction: column; /* Display checkboxes in a column */
    width: 45%; /* Adjust the width as needed */
    margin-left: 35% /* Set the distance from the left */
}

#inputFieldsDiv3 {
    display: flex;
    align-items: center;
    flex-direction: column; /* Display checkboxes in a column */
    width: 45%; /* Adjust the width as needed */
    margin-left: 35%; /* Set the distance from the left */
}

#mkAnService {
    display: fixed;
    align-items: center;
    flex-direction: column; /* Display checkboxes in a column */
    width: 35%; /* Adjust the width as needed */
    margin-left: 35% /* Set the distance from the left */
}

.goBackButton {
    display: flex;
    background-color: #3498db; /* Set the background color */
    color: white; /* Set the text color */
    padding: 10px 15px; /* Adjust padding for better appearance */
    border: none; /* Remove the border */
    border-radius: 5px; /* Add a slight border-radius for rounded corners */
    cursor: pointer; /* Change the cursor on hover */
    margin-bottom: 10px; /* Add margin at the bottom for spacing */
}

    .goBackButton:hover {
        background-color: #2980b9; /* Darker background color on hover */
    }

#error-message {
    color: red;
    font-size: 150%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30%;
}

/* Table styles */
.table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

.th {
    padding: 8px;
    background-color: #f2f2f2;
    font-weight: bold; /* Make the text bold */
    border: 1px solid #ddd; /* Add a border for separation */
}
/* Rows styles */
td {
    align-items:center;
    padding: 5px;
    border: 1px solid #ddd;
}
.tableBtnEdit {
    background-color: #007bff;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.tableBtnDel {
    background-color: #d95b43;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Make the button fill the cell vertically */
    margin: 0; /* Remove default margin for better alignment */
}


    .tableBtn:hover {
        background-color: #cc0000; /* Darker red on hover */
    }





#buttons {
    display: block;
    width: 100%;
    margin-left:3%;
}


#mapid { 
    height: 600px;
    margin-left: 25%;
    width: 60%;
}




@media only screen and (max-width: 1000px) {

  #mapid {
    height: 400px;
  }
}
@media only screen and (max-width: 768px) {

   /*adjust font size in every div*/
#storageCategories {
        font-size: 80%;
    }



#inputFieldsDiv2 {
        font-size: 80%;
    }

#inputFieldsDiv3 {
        font-size: 80%;
    }

    

#storage {
        font-size: 80%;
    }

    .goBackButton {
        font-size: 80%;
    }


    

    #storageCategories {
        display:block;
        position: fixed;
    }
        #storageCategories input[type="checkbox"] {
            transform: scale(1); /* Adjust the scale factor as needed */

        }

    #inputFieldsDiv {
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        width: 80%;
        margin-left: 0%;
    }

    #inputFieldsDiv2 {
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        width: 80%;
        margin-left: 0%;
    }

    #inputFieldsDiv3 {
        position: absolute;
        left: 50%;
        transform: translate(-70%,0);
        width: 80%;
        margin-left: 15%;
    }


    input {
        width: 80%; /* You can adjust the width of the input fields as needed */
    }


    #buttons2 {
        width: 100%;
        margin-left: 0%;
    }

    #storageCategories {
        margin-left: 0%;
    }

    #storage {
        margin-left: 15%;
    }

    #buttons {
        margin-left: 0%;
    }

    #jsonFileInput {
        margin-left: 0%;
    }

    #mapid {
        height: 300px;
    }


}

@media only screen and (max-width: 360px) {

    #inputFieldsDiv3 table {
        width: 5%; /* You can adjust the percentage according to your preference */
        border-collapse: collapse;
    }

    #inputFieldsDiv3 td {
        padding: 3px; /* You can adjust the padding as needed */
        border: 1px solid #ddd;
    }

    .th {
        font-weight: bold;
        background-color: #f2f2f2;
        width: 20%;
    }
}