* {
    /* Reset css */
    margin: 0;
    padding: 0;
  }

.hidden {
  display: none; /* Keep elements hidden until sidebar press */
}

.navbar-header{
  display: none;
}

.grid-container {
  /* position:relative; */
  display:flex;
  
  height:100%;
  width:100%;
  padding:0;
  margin:0;
}


div.canvas {
  margin-left:15%;
  padding-top:5%;
  padding-left:5%;
  padding-right:3%;
}

label.dropdown {
  white-space:nowrap; /* Label goes with dropdown */
}

/* div.table-select {
  //Dropdowns next to each other
  display:inline-block; 
} */
  
.sidebar {
  position: fixed;
  overflow: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 15%;
  /* Sidebar stays the same when scrolling */
  background-color: #f1f1f1;
}

.sidebar a {
  cursor: pointer;
  user-select: none;
  display: block;
  color: #000;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: rgb(218, 92, 9);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

a.header {
  background-color: rgb(218, 92, 9);
  display: block;
  text-decoration: none;
}


.user_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  overflow:auto;
}

/* Header follows scroll */
.user_table th { position: sticky; top: 0; z-index: 1; }

.user_table td, .user_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.user_table tr:nth-child(even){background-color: #f2f2f2;}

.user_table tr:hover {background-color: #ddd;}

.user_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(218, 92, 9);
  color: white;
}

.canvas #searchInput {
  margin-top: 20px;
  padding: 8px;
  border: 2px solid #3498db;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}
/*
.fields table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ddd;
}

.fields th, .fields td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.fields th {
  background-color: #f2f2f2;
}

// Add vertical lines between the first four columns
.fields td:nth-child(1),
.fields td:nth-child(2),
.fields td:nth-child(3),
.fields th:nth-child(1),
.fields th:nth-child(2),
.fields th:nth-child(3) {
  border-right: 1px solid #ddd;
}

.fields tr:hover {
  background-color: #f5f5f5;
}
*/
#mapContainer.hidden {
  display: none;
}

#mapContainer {
  display: flex;
  width: 100%;
  height: 100%;
  /* margin-right:20px; */
  margin-bottom:20px;
}

#mapContainer > * {
  margin-left:10px;
  margin-right:50px;
}

.canvas {
  /* padding-left: 230px; */
}
  
.announcement-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
}

.announcement-extras {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

/* All children of announcement-box have no margin */
.announcement-box > * { 
  margin: 0;
}

.announcement-box p.timestamp {
  text-align:right;
  opacity:0.5;
  margin:0;
}
/* https://stackoverflow.com/questions/1257430/how-can-i-apply-a-border-only-inside-a-table */
.actions-table td {
  border-collapse:collapse;
  border:1px solid;
  padding: 0.3em;
}

#mapid { 
  height: 750px;
  width: 500px;
  min-height: 200px;
  min-width: 200px;
}



/* The first of each row */
/* .actions-table tr > :first-child {
  border:1px solid;
} */


@media screen and (max-width: 700px) {
  * {
    /* TODO: Make it not possible to go out of sidebar when scrolling */
    overflow:none;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {float: left;}
  
  .canvas {
    /* TODO: Make everything to to the left since no sidebar now */
    margin: 0;
  }
  
  #mapContainer {
    display:block;
  } 
}

@media screen and (max-width: 460px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/* 
@media only screen and (min-width: 768px) {

  .navbar-header{
    display: block;
  }
  
  ul {
    flex-direction: row;
    padding-top: 1rem;
  }

  ul.sidebar {
    width: 20%;
  }

  .fields{
    padding-left: 21%;
  }

  div.canvas {
    margin-left:15%;
    padding-right:15%;
  }

  #mapid { 
    height: 500px;
    width: 400px;
  }
} 

@media only screen and (min-width: 1000px) {

  div.canvas {
    margin-left:25%;
    padding-right:25%;
  }

  ul.sidebar {
    width: 15%;
  }

  .fields{
    padding-left: 16%;
  }

  #mapid { 
    height: 750px;
    width: 600px;
  }
  
} 
   */
