* {
    padding: 0;
    margin: 0;
  }
  
body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
}



nav {
    display: flex;
    flex-direction: column;
    justify-content:space-between; 
    align-items: center;
    padding: 1rem 2rem;
    background: #cfd8dc; 
}

nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    list-style: none; 
}

nav li {
    padding: 0.5rem 0;
    padding-left: 1rem; 
}

nav a {
    text-decoration: none;
    color: #0d47a1
}
  
  /* Till here consider removing */
  
body.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.tab-content {
    width: 20%; /* Set the width as per your requirement */
    margin: 0;
    padding: 0;
}

.logo {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center; /* Center the image within its container */
}

.logo img {
    width: 40%;
    display: block; /* Ensure the image behaves as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

.tab-pane {
    /* Add your styles here */
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    width: 85%;
}

/* Style for the User input */
#username {
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}
#password {
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}
#name {
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}
#telephone {
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
}

/* Search Bar styles */
#searchInput {
    height: 35px;
    width: 15%;
    font-size: 14px;
    margin-top: 20px; /*separate it from the buttons */
    margin-bottom: 10px; /*separate it from the table */
}

#error-message {
    color: red;
    margin-top:-15px;
    margin-bottom: 15px;
}

/* Borders */
table, th, td {
    border: 1px solid;
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

/* Header row styles */
th {
    padding: 8px;
    background-color: #f2f2f2;
}

/* Rows styles */
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#mapid { 
    height: 150px;
    width: 100%;
}


/*
    tablets, 768px and above
*/
@media only screen and (min-width: 768px) {
    .logo img {
        padding-top: 10px;
    }
    .tab-pane {
        padding-top: 30px;
        width: 50%;
    }
    nav {
        flex-direction: row;
    }
    nav ul {
        flex-direction: row;
        padding-top: 0rem;
    }
    nav li {
        padding-left: 1rem;
    }
    #mapid { 
        height: 200px;
    }
    
    #username {
        padding: 12px;
    }
    #password {
        padding: 12px;

    }
    #name {
        padding: 12px;
    }
    #telephone {
        padding: 12px;
    }
} 

/* 
    Desktop, 1000px and above
*/
@media only screen and (min-width: 1000px) {

    .tab-pane {
        width: 30%;
    }
    
    #mapid { 
        height: 300px;
    }
} 
  

